html,
body {
  height: 100%;
}
body {
  /* background: #0F2027;
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); */
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Rubik', sans-serif;
  color: whitesmoke;
  background: url("../img/wallhaven-718046.jpg") 50% 50% no-repeat;
  background-attachment: fixed;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  color: whitesmoke;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
}
.form-signin button[type="submit"] {
  background: rgba(255, 255, 255, 0.5);
  border: solid whitesmoke 3px;
  margin-bottom: 10px;
  border-radius: 20px;
  color: whitesmoke;
}
.form-signin .h3 {
  font-family: 'Pacifico', cursive;
}
/* Mensajes */
#mensaje {
  font-family: 'Rubik', sans-serif;
  font-size: 125%;
}